html,body {
	height: 100%;
}
.wrap {
	height: 100%;
	display: -webkit-flex;
	display: flex;
	flex-direction:column;
	flex-direction:-webkit-column;
}
.banner {
	width: 100%;
	height: 200px;
}
.posts-list {
	width: 100%;
	-webkit-flex: 1;
    flex: 1;
}
.footer-btn {
	background-color: #81a9c3;
	width: 100%;
	height: 50px;
}